/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 1, 2017, 3:54:09 PM
    Author     : cmatheny
*/

#outerContainer {
    background: #111111;
    height: 100%;
    width: 100%;
    max-width: 1600px;
    max-height: 900px;
    min-width: 400px;
    min-height: 200px;
    
}

#mainRow{
    margin: 0;
}

.row {
    margin: 0;
}

.topContainer {
    background: yellow;
    height: 8%;
    width: 100%;
    margin: 0;
    margin-top: 1%;
}

.sidebarContainer {
    background: red;
    height: 70%;
    width: 16%;
    padding: 1%;
    margin: 0;
}

.bottomContainer {
    background: purple;
    height: 19%;
    width: 100%;
    padding: 1%;
    margin: 0;
}
.pokeContainer {
    background: #335577;
    height: 70%;
    width: 68%;
    padding:1%;
    align-self: center;
}

.flipped {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
}

.smallMenuRow {
    height:10%;
    width: 100%;
}

.menuRow {
    height: 40%;
    width: 100%;
}
.pokeRow {
    height: 25%;
    width: 100%;
}

.sprite.double {
    height: 90%;
    padding-top: 0;
}

.sprite {
    padding-top: 10%;
    padding-bottom: 0;
    height: 60%;
}

.sprite.jumping {
    padding-top: 0;
    padding-bottom: 10%;
}

#title {
    font-size: 20pt;
    font-size: 5vmin;
}

.messageLog {
    
}

.itemSprite {
    padding: 0;
    height: 80%;
}