/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 1, 2017, 3:54:09 PM
    Author     : cmatheny
*/

#outerContainer {
    background: #111111;
    width: 100%;
    max-width: 1600px;
    max-height: 900px;
    min-width: 1000px;
    min-height: 300px;
    
}

#mainRow{
    margin: 0;
}

.row {
    margin: 0;
}

.topContainer {
    background: yellow;
    height: 8%;
    width: 100%;
    margin: 0;
    margin-top: 1%;
}

.sidebarContainer {
    background: red;
    height: 70%;
    width: 16%;
    padding: 1%;
    margin: 0;
}

.bottomContainer {
    background: purple;
    height: 19%;
    width: 100%;
    padding: 1%;
    margin: 0;
}
.pokeContainer {
    background: #335577;
    height: 70%;
    width: 68%;
    padding:1%;
    align-self: center;
}

.flipped {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
}

.smallMenuRow {
    height:15%;
    width: 100%;
}

.menuRow {
    height: 50%;
    width: 100%;
}

div {
    overflow: hidden;
}

row {
    overflow: hidden;
}

#loadingSign {
    position: absolute;
    bottom: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    color: white;
    font-size: 4vmin;
    text-align: center;
    background-color: black;
    outline: 12px white solid;
    z-index: 10;
}

.tinyBrowseRow {
    background-color:brown;
    height: 2%;
    width: 100%;
}

.browseRow {
    background-color:brown;
    height: 22%;
    width: 100%;
}
.browseImg {
    background-color: red;
    height: 60%;
}
.browseRow.buttonRow {
    height:8%;
}

.browseImg > img {
    height: 95%;
}

.browseText {
    color: white;
    max-height: 100%;
    max-width: 100%;
    font-size: 1.8vmin;
    text-transform: capitalize;
}

.btn.browseBtn {
    margin-left: 1%;
    margin-right: 1%;
    width: 12%;
}

.btn.browseBtnMd {
    margin-left: .5%;
    margin-right: .5%;
    width: 6.5%;
}

.btn.browseBtnSm {
    margin-left: .5%;
    margin-right: .5%;
    width: 4%;
}

.pokeRow {
    height: 25%;
    width: 100%;
}

.sprite.double {
    height: 80%;
    padding-top: 10%;
    padding-bottom: 0;
}

.sprite {
    padding-top: 10%;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 10%;
    height: 60%;
}

.sprite.jumping {
    padding-top: 0;
    padding-bottom: 10%;
}

.sprite.attacking {
    padding-right:10%;
    padding-left:0;
}

#title {
    font-size: 20pt;
    font-size: 5vmin;
}

.messageLog {
    
}

.itemSprite {
    padding: 0;
    height: 80%;
}

.btn {
    font-size: 2vmin;
    length: 80%;
    width: 80%;
}

.sideBarText {
    font-size: 2vmin;
    color: white;
    padding: 0;
    text-transform: capitalize;
}

.textBox {
    align-content: center;
    length: 80%;
    width: 80%;
    font-size: 2vmin;
}