/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 1, 2017, 3:54:09 PM
    Author     : cmatheny
*/

.pokeContainer {
    background: #335577;
    height: 80%;
    width: 60%;
    align-self: center;
    max-width: 1000px;
    max-height: 600px;
    min-width: 400px;
    min-height: 200px;
}

.flipped {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
}

.menuRow {
    height: 40%;
    width: 100%;
}
.pokeRow {
    height: 25%;
    width: 100%;
}

.selectable.double {
    height: 90%;
    padding-top: 0;
}

.selectable.doubleflipped{
    height: 90%;
    padding-top: 0;
}

.selectable {
    padding-top: 10%;
    padding-bottom: 0;
    height: 60%;
}

.selectable.jumping {
    padding-top: 0;
    padding-bottom: 10%;
}